svg {
    display: inline-block;
    margin: 0 10px;
    height: 60px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: $primary;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active:hover {
  color: $primary;
}

.navbar {
  //border-bottom: 1px solid #dee2e6;
  padding: 0 !important;
}

.navbar a {
  color: white;
}

a:hover{
	color: #ED6A5A;
}

a .active {
  color: red;
}

.td-box {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  text-align: center;

}

  .td-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: 0 0!important;
    min-height: 4rem;
    margin: 0;
    z-index: 32;
}

.td-main {
 //background: white;
}
body {
  background: black;
}
.td-box {
  margin-top: 2em;
}