+++
title = "CS3 Conference 2021"
linkTitle = "cs32021"

+++

{{< blocks/cover title="" image_anchor="auto" height="auto" color="secondary" >}}
 <div class="mx-auto">
	 <h2><b>CS3 Conference 2021</b></h2>
	<br>
	<a class="btn btn-lg btn-secondary  mr-3 mb-4" href="https://indico.cern.ch/event/970232/program">
		REGISTER <i class="fas fa-rocket ml-2"></i>
	</a>
</div>
{{< /blocks/cover>}}



{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa-calendar" title="25-29 January 2021" %}}
This year the conference will be held in these dates following the tradittion of previous events
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-map-marker" title="Virtual, from anywhere" %}}
This yeas the conference will run in virtual mode.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-project-diagram" title="Social Networking" %}}
Take the opportunity to exchange ideas with other members of the community and enjoy some (virtual) coffess together.
{{% /blocks/feature %}}
{{< /blocks/section>}}


{{% blocks/lead color="primary" %}}
Science, Research and Industry organizations
{{% /blocks/lead %}}

<img src="/partners.png" class="img-fluid" alt="Responsive image">


{{% blocks/lead color="secondary" %}}
A growing Community
{{% /blocks/lead %}}

<img src="/worldmap.png" class="img-fluid" alt="Responsive image">




<!--
{{< blocks/section color="white" >}}
<div class="container">
	<div class="d-flex flex-row">
		<div class="col-sm-6 mx-auto text-center">
			<img class="img" src="https://raw.githubusercontent.com/cs3org/logos/master/reva/logo-square.jpg"/ height="100px"/>
			<hr>
			<div>
			<p class="small text-muted">
			Reva is an inter-operability platform originally developed at CERN to bridge the gap between cloud storages and application
			providers. Reva is used every day at CERN to power the CERNBox service.
			</p>
			<p>
			<a href="https://reva.link" target="_blank">Reva</a> is the foundation software for the ScienceMesh platform.
			</p>
			</div>
		</div>
	</div>
</div>
{{< /blocks/section>}}
-->