+++
title = "CS3 Conference 2024"
linkTitle = "cs32024"

+++

{{< blocks/cover title="" image_anchor="bottom" height="max" color="primary" >}}

 <div class="mx-auto">
	 <h3>
	<b>
		 Workshop on Cloud Services for
		Synchronisation and Sharing<br>11-13 March 2024
	</b>
	</h3>
	<br>
	<a class="btn btn-small btn-primary  mr-3 mb-4" href="https://indico.cern.ch/event/1332413/abstracts">
		REGISTER
	</a>
	<a class="btn btn-small btn-primary  mr-3 mb-4" href="https://indico.cern.ch/event/1332413/program">
		PROGRAMME
	</a>
	<a class="btn btn-small btn-primary  mr-3 mb-4" href="https://indico.cern.ch/event/1332413/">
		TIMETABLE
	</a>
</div>
{{< /blocks/cover>}}


<img src="partners.png" class="img-fluid" alt="Responsive image">

<br/>

{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fa-calendar" title="11-13th March 2024" color="secondary" %}}
This year we commemorate the 10th anniversary of the conference!
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-map-marker" title="CERN, Geneva, CH" color="secondary" %}}
This year the conference will happen at CERN, this is a way for all of us to mark the 10th anniversary of this event and of our community
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-project-diagram" title="Social Networking" color="secondary" %}}
Take the opportunity to exchange ideas with other members of the community and enjoy some (virtual) coffess together.
{{% /blocks/feature %}}
{{< /blocks/section>}}

<!--
{{% blocks/lead color="secondary" %}}
A growing Community
{{% /blocks/lead %}}


<img src="worldmap.png" class="img-fluid" alt="Responsive image">



{{< blocks/section color="white" >}}
<div class="container">
	<div class="d-flex flex-row">
		<div class="col-sm-6 mx-auto text-center">
			<img class="img" src="https://raw.githubusercontent.com/cs3org/logos/master/reva/logo-square.jpg"/ height="100px"/>
			<hr>
			<div>
			<p class="small text-muted">
			Reva is an inter-operability platform originally developed at CERN to bridge the gap between cloud storages and application
			providers. Reva is used every day at CERN to power the CERNBox service.
			</p>
			<p>
			<a href="https://reva.link" target="_blank">Reva</a> is the foundation software for the ScienceMesh platform.
			</p>
			</div>
		</div>
	</div>
</div>
{{< /blocks/section>}}
-->
